{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} {{ user.name }}  {% endblock %}</h1></span>
    <div class="content">
            <div class="post">
                <p><b>#{{ user.id }}</b></p>
                <b>
                    <p class="title">{{ user.name }}</p>
                </b>
                <div class="content">
                    <p>{{ user.info }}</p>
                </div>
                <hr>
                <h3>details</h3>
                <form method="post">
                    <p>
                        <textarea name="info"
                                    placeholder="Detail"
                                    cols="60"
                                    rows="5"></textarea>
                    </p>
                
                    <p>
                        <button type="submit">Add comment</button>
                    </p>
                </form>
                {% for detail in user.details %}
                    <div class="detail">
                        <p>#{{ detail.id }}</p>
                        <p>{{ detail.info }}</p>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}